@keyframes colorAnimation {
    from{
        color: white;
    }
    to{
        color: black;
    }

}
.colorA{
    animation: 1s colorAnimation;
}
.resultText{
    text-align: center;
    margin-top: 30%;
}
.title{
    margin-top: 10%;
    text-align: center;
}
.text{
    width: 80%;
    margin: 0 auto;
}