.containerBox{
  background-image: url("./assets/bg.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.whiteBox{
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputBox{
  width: 80%;
  margin: 30px 0;
}
.inputButton{
  width: 30%;
  margin: 30px 0;
}

@keyframes success {
  from{
    top: 0;
    opacity: 0.8;
  }
  to{
    top: 25%;
    opacity: 1;
  }
}
.Rem{
  width: 50%;
  position: absolute;
  top: 25%;
  animation: success 2s;
  z-index: 10;
  display: none;
}
.Ram{
  width: 30%;
  position: absolute;
  top: 25%;
  animation: success 2s;
  z-index: 10;
  display: none;
}